*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --w: #fff;
}
html body{
  color: var(--w);
  background: url(https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1100&ixid=MnwxfDB8MXxyYW5kb218MHx8d2VhdGhlcnx8fHx8fDE2NDc1NzgxMDY&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=2200);
}
/* header  */
header h2{
  text-align: center;
  margin-top: 1.2rem;
}
#weather-results{
  margin-right: 2rem;
}
#search-div{
  border: 2px white solid;
}
#cityName{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
#containerBody{
  position: relative;
}
/* right column rows  */
.card.bg-dark\.bg-gradient.text-dark.m-3.w-100 {
  font-size: 18px;
  font-weight: 600;
}
/* weather icon  */
img#weatherIcon {
  height: 65px;
  width: 70px;
  position: absolute;
  top: 3rem;
  right: 36rem;
  outline: none;
  border: none;
}
img{
  display: none;
}
img[src]{
  display: block;
}
/* 5-day forecast  */
#fivedayForecast .column {
  float: left;
  width: 18%;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 600;
}
/* weather icons  */
#fivedayForecast #day1Img, #day2Img, #day3Img, #day4Img, #day5Img{
  height: 50px;
  width: 50px;
}

#fivedayForecast .row {margin: 0 -5px;}

/* Clear floats after the columns */
#fivedayForecast .row:after {
content: "";
display: table;
clear: both;

}

#fivedayForecast .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  line-height: 3rem;
  height: 25rem;
  color: black;
  opacity: .8;
  /* text-align: center; */
  background-color: #f1f1f1;
}
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    #fivedayForecast .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    #weatherUv{
      width: 100%;
    }
  }
  #weatherUv{
    background-color: blue;
    color: white;
    width: 9%;
  }